@define-color foreground #cdd6f4;
@define-color background #11111b;
@define-color border #f5c2e7;

* {
  /* background-color: @background; */
  background: transparent;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 32px;
  font-family: "GeistMono Nerd Font";
  font-size: 14px;
}

window#waybar > box {
  /* background-color: @background; */
  /* border-radius: 8px; */
  /* margin: 0 16px; */
}

.modules-left {
  margin-left: 16px;
}

.modules-left * {
  color: @background;
}

.modules-right {
  margin-right: 16px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button {
  padding: 0 4px;
}

#cpu,
#pulseaudio,
#keyboard-state,
#network {
  min-width: 12px;
}

#tray {
  margin-right: 16px;
}

#cpu,
#keyboard-state,
#network,
#disk,
#memory,
#custom-disk_io {
  margin-right: 16px;
}

tooltip {
  background-color: @background;
  border-radius: 8px;
}

#clock {
  /* margin-left: 12px; */
  color: #f5c2e7;
}

.hidden {
  opacity: 0;
}
