@define-color foreground #cdd6f4;
@define-color background #11111b;
@define-color border #f5c2e7;

* {
  /* background-color: @background; */
  background: transparent;
  color: @foreground;

  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

window#waybar>box {
  background-color: rgba(17, 17, 27, 0.5);
  padding: 8px 0;
  /* border-radius: 8px; */
  /* margin: 0 16px; */
}

#workspaces * {
  all: unset;
}

.modules-left {
  margin-left: 16px;
}

.modules-right {
  margin-right: 16px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active {
  padding-right: 9px;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

#workspaces button {
  padding: 0 8px;
}

#workspaces {
  margin-right: 10px;
}

#cpu,
#keyboard-state,
#network,
#disk,
#memory,
#clock,
#pulseaudio,
#notifications,
#custom-disk_io {
  padding: 0 8px;
}

tooltip {
  border-radius: 8px;
  background-color: @background;
}

#clock {
  /* margin-left: 12px; */
  /* color: #f5c2e7; */
}

.hidden {
  opacity: 0;
}
